

.login-wrap
    float right
    height 100%
    .login-item
        display inline-block
        padding 10px 2px
        &:hover span
            color #CA0C16
        span
            font-size 14px
            color #3D3D3D
            vertical-align super
    .login-icon
        display inline-block
        width 20px
        height 20px
        background-size 100%
        vertical-align top
    .icon-blog
        background-image url('/img/w-blog.png')
    .icon-msg
        width 21px
        height 16px
        margin-top 2px
        background-image url('/img/message-icon.png')

