*
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

body
  background: #f5f6f7;
  font-size: 16px;
  overflow-x :hidden
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

body, ul, li
  padding: 0;
  margin: 0;

ul
  list-style-type: none;

.clearfix:after
  content: '.';
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;

a
  color: #000;
  cursor: pointer;
  text-decoration: none;
/***头部样式***/
.header
  width: 100%
  height: 40px;
  color: #333;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
  padding: 0px 60px;

.header_type-item
  display: inline-block;
  padding: 0 8px;
  line-height: 38px;
  cursor:pointer;

.header_type-item.selected
  border-bottom: 2px solid #CA0C16;

/****内容样式*****/
.content
  width: 100%;
  padding: 10px 70px;

.content-type
  float: left;
  width: 96px;
  padding: 6px 0;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.04);
  box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.04);

.content-subtype_item
  padding: 5px;
  text-align: center;
  color: #707070;
  font-size: 14px;
  cursor: pointer;
  border-bottom: 1px solid #fff;

.content-subtype_item.selected, .content-subtype_item:hover
  background-color: #f44444;
  color: #fff;

.content-list
  float: left;
  width: calc(100% - 116px);
  margin-left: 10px;
  padding: 10px;

.content-aside
  float: left;
/***文章样式***/
.post-list .post-list_item
  padding: 10px 24px;
  background: #fff;
  border-bottom: 1px solid #f4f4f4;
  position: relative;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.04);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.04);
 .post-title a
    max-width: 98%;
    color: #3d3d3d;
    display: block;
    line-height: 24px;
    height: 24px;
    font-size:18px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
.post-title  a:visited 
  color: #b8b8b8;
.post-title  a:link 
  color: #3d3d3d;
.post-title  a:hover
  color: #ca0c16
.post-summary
  margin-bottom: 4px;
  color: #8a8a8a;
  font-size: 14px;
  line-height: 24px;
.interval
  float: left;
  width: 1px;
  height: 12px;
  border-radius: 50%;
  background-color: #e0e0e0;
  margin-top: 6px;
  margin-left: 8px;
  margin-right: 8px;
.post-author_info,.post-publish_info
  float: left;
.post-footer .text
    font-size: 14px;
    color: #8a8a8a;
    line-height: 24px;
    vertical-align: super;
.post-author_info img
  width: 24px;
  height: 24px;
  border-radius: 50%;

.post-reader
  float :right;
  font-size :12px
  .num
    color: #3399ea;
    vertical-align: super;

.reader-num,.common_num
  float :left



